<p><%= @myrentalitem.title %></p>
<p><%= @myrentalitem.description %></p>
<%= image_tag @myrentalitem.image_url(:thumb).to_s %><br />
<p><%= @myrentalitem.price_per_day %></p>
<p><%= @myrentalitem.price_per_week %></p>