<p><%= @myrentalitem.title %></p>
<p><%= @myrentalitem.description %></p>
<%= image_tag @myrentalitem.image_url(:thumb).to_s %><br />
<p><%= @myrentalitem.price_per_day %></p>
<p><%= @myrentalitem.price_per_week %></p>

<% if @myrentalitem.location %>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@myrentalitem.location.latitude}%2C#{@myrentalitem.location.longitude}" %>
<% end %>