<% @rental.in_groups_of(3, false) do |row| %>
	<div class = "row">
		<% row.each do |myrentalitem| %>
			<div class = "small-3 large-4 columns">
				
					<h2><%= myrentalitem.title %><h2>
					<div><%= image_tag myrentalitem.image_url(:thumb).to_s %></div>
					<div><%= myrentalitem.description %></div>
					<div>$<%= myrentalitem.price_per_day %> per day</div>
					<div>$<%= myrentalitem.price_per_week %> per week</div>
					<% if myrentalitem.location %>
						<div><%= link_to myrentalitem.location.city, rental_items_place_path(myrentalitem.location.city) %>, <%= myrentalitem.location.country %>
						</div>
					<% end %>
					<% if myrentalitem.tags.exists? %>
						<div><% myrentalitem.tags.each do |tag| %>
							 	<%= link_to'#' + tag.name, rental_items_tag_path(tag.name) %>
							 <% end %>
						</div>
					<% end %>
					<div><%= link_to "Show", my_rental_item_path(myrentalitem) %></div>
					<div><%= link_to "Edit", edit_my_rental_item_path(myrentalitem) %></div>
					<div><%= link_to 'Delete', [:my,myrentalitem], :method => :delete, :class => 'btn btn-small btn-danger', :confirm => "Are you sure?" %></div>
			</div>
		<% end %>
	</div>
<% end %>