<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>

  <!-- <link rel="stylesheet" href="stylesheets/app.css">
  <link rel="stylesheet" href="stylesheets/offcanvas.css"> -->

<!--   // <script src="javascripts/foundation/modernizr.foundation.js"></script> -->




  </head>  
<!--   <nav class = "top-bar"> run foundation gem on new project to see the links
  <nav id = "sideMenu" role = "navigation" class = "show-for-small">
   <div class = "container">
    <a class = "brand" href = "#">Uno Moto</a>
      <div class = 'navbar'>
        <ul>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          <li><%= link_to 'Home', :root %></li>
          <li><%= link_to 'Login', :root %></li>
        </ul>
      </div>
    </div>
  </nav>
</nav> -->

<body id="page" class="off-canvas hide-extras">
  <div class="container">
       <input data-provide="typeahead"class = "typeahead" type= "text" name = "query" id = "search" autocomplete="off" />
    <header id="header" class="row">
      <div class="four columns phone-two">
        <h1 id="site-title"><img src="http://www.unomoto.com/wp-content/uploads/2013/07/Unomonto-Logo-Blue-777777-with-Tag.png"></h1>
      </div>
      <div class="eight columns phone-two">
        <nav id="menu" role="navigation" class="hide-for-small">
          <ul id="mainNav" class="nav-bar">
            <li><%= link_to 'Home', :root %></li>
            <% if !current_user %>
            <li><%= link_to 'Rental Process', :process %></li>
            <li><%= link_to 'Login', :new_session %></li>
            <li><%= link_to 'Sign Up', :new_user %></li>
            <% end %>
            <li><%= link_to 'Explore', :rental_items %></li>
            <% if current_user %>
            <li>
              <%= link_to 'My Rental Items', :my_rental_items %>
            </li>
            <li>
              <%= link_to 'Manage Rentals', :my_rents %>
            <li>
              <%= link_to 'Logout', :sessions_destroy %>
            </li>
            <% end %>
          </ul>
        </nav>
        <p class="show-for-small">
          <a class='sidebar-button button' id="sidebarButton" href="#sidebar" >Menu</a>
        </p>
      </div>
    </header>

    <div class="row">
      <section role="main">
 <!--        <div class="row">
          <div class="eight columns"> -->
            
              <%= yield %>
       <!--    </div>
        </div> -->
      </section>

      <section id="sidebar" role="complementary">
        <nav id="sideMenu" role="navigation">
          <ul id="sideMainNav" class="nav-bar">
            <li><%= link_to 'Home', :root %></li>
            <li><%= link_to 'Login', :root %></li>
            <li><%= link_to 'Sign Up', :root %></li>
            <li><%= link_to 'Explore', :root %></li>
          </ul>
        </nav>
      </section>
    </div>

    <footer class="site-footer row" role="contentinfo">
      <div class="twelve columns">
        Uno Moto Incorporated
      </div>
    </footer>
  </div>

    <%if flash[:notice] %>
      <p id = "notice"><%= flash[:notice] %>
      </p>
    <% end %>
    <% if flash[:alert] %>
      <p id = "alert"><%= flash[:alert] %></p>
    <% end %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
